@use 'sass:map';

// Variables
$font-size: (
    small: .875rem,
    medium: 1rem 
);

$colors-primary: (
    violet: #674baf,
    softMagenta: #e882e8
);

$breakpoints: (
    small: 40em,
    medium: 65em, // 1040px
    large: 90em
);

// Mixins
@mixin media-query($key) {
    $size: map.get($breakpoints, $key);

    @media (max-width: $size) {
        @content;
    }
}

@mixin font-adjust($key) {
    font-size: map.get($font-size, $key);
}

// Functions

// This function for converting from px to the root font-size
@function rem($pixels, $context: 16 ) {
    @return ($pixels / $context) * 1rem;
}

