@use 'abstracts' as *;
@use 'sass:map';

* { 
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

html { 
   box-sizing: border-box;
   font-size: map.get($font-size, medium); 
}

body {
   font-family: 'Open sans', sans-serif;
   font-weight: 400;
   text-size-adjust: auto;
   color: white;
   background: center / cover no-repeat url(/images/bg-desktop.svg);
   background-color: map.get($colors-primary, violet);
}

.wrapper {
   display: flex;
   justify-content: center;
   // align-items: center;
   height: 100vh;
   padding: 5vh 6vw;
}

.container {
   display: grid;
   align-items: start;
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas: "header  header"
                        "hero sign-up"
                        "footer footer";
   grid-gap: 0 rem(10);

   @media (max-width: map.get($breakpoints, medium)) {
      grid-template-areas: "header header"
                           "hero hero"
                           "sign-up sign-up"
                           "footer footer";
   }
}

// Helper class
.font-change {
   font-family: 'Poppins', sans-serif;
}


