@use 'abstracts' as *;
@use 'sass:map';

* { 
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

html { 
   box-sizing: border-box;
   @include font-adjust(medium);

   @media (max-width: map.get($breakpoints, medium)) {
      @include font-adjust(small);
      text-align: center;
   }
}

body {
   font-family: 'Open sans', sans-serif;
   font-weight: 400;
   text-size-adjust: auto;
   color: white;
   background: center / cover no-repeat map.get($colors-primary, violet) url(/images/bg-desktop.svg);
   // background-color: map.get($colors-primary, violet);

   @media (max-width: map.get($breakpoints, medium)) {
      background: center / cover no-repeat map.get($colors-primary, violet) url(/images/bg-mobile.svg);
   }
}

.wrapper {
   display: flex;
   justify-content: center;
   // align-items: center;
   height: 100vh;
   padding: 5vh 6vw;
}

.container {
   display: grid;
   align-items: start;
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas: "header  header"
                        "hero sign-up"
                        "footer footer";
   grid-gap: 0 rem(10);

   // @include mq() {

   // }
   @media (max-width: map.get($breakpoints, medium)) {
      grid-template-areas: "header ."
                           "hero hero"
                           "sign-up sign-up"
                           "links links"
                           "footer footer";
      grid-gap: rem(20) 0;
   }
}

// Helper class
.font-change {
   font-family: 'Poppins', sans-serif;
}


