@use 'abstracts' as *;
@use 'sass:map';

.header-logo {
    grid-area: header;
    // padding-bottom: rem(137);
    > img {
        width: rem(200);
        height: rem(49);
    }
}

.hero {
    grid-area: hero;
    &__img {
        width: 100%;
    }
}

.sign-up {
    grid-area: sign-up;
    justify-self: center;
    max-width: rem(456);
    margin-top: 10vh;
    
    &__heading {
        padding-right: rem(40);
        font-size: rem(32);
        font-weight: 600;
    }

    &__sub-heading {
        color: rgba(255, 255, 255, 0.70);
        margin: rem(25) 0;
    }

    &__btn {
        outline: 0;
        border: 0;
        border-radius: rem(50);
        padding: rem(12) rem(70);
        font-size: rem(18);
        color: map.get($colors-primary, violet);
        
        &:hover {
            transition: all .3s;
            color: white;
            background-color: map.get($colors-primary, softMagenta);
        }
    }
}

.social-links {
    grid-area: sign-up;
    justify-self: end;
    align-self: end;
    margin-bottom: 2vh;

    @media (max-width: map.get($breakpoints, medium)) {
        grid-area: footer;
    }

    > :nth-child(2) {
        margin: 0 rem(10);
    }

    svg {
       width: rem(35);
       height: rem(35);
       fill: white;

       &:hover {
           fill: map.get($colors-primary, softMagenta);
       }
    }
}

.attribution {
    grid-area: footer;
}